<div class="form">
    <form>
        <div class="paragraph">
            <p class="count">1</p>
            <p class="title">Особисті дані</p>
        </div>
        <div class="input-wrapper">
            <input type="text" placeholder="*Ваше ім'я">
            <input type="text" placeholder="*Ваше прізвище">
        </div>
        <input type="tel" placeholder="*Ваш номер телефону">
        <input type="email" placeholder="*Ваш email">
        <div class="paragraph">
            <p class="count">2</p>
            <p class="title">Адреси</p>
        </div>
        <div class="btn-wrapper">
            <button><b>ДОДАТИ АДРЕСУ</b></button>
            <button><b>ЗБЕРЕГТИ ЗМІНИ</b></button>
        </div>
    </form>
</div>
