@import '../../shared/styles/variables';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%text-style {
    text-align: center;
    margin-left: 30px;
    line-height: 27px;
}

%before-after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 8px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .swiper-container {
        width: 1900px;
        padding: 70px 0px 30px 0px;
        position: relative;
        overflow: hidden;

        .img-wrapper {
            text-align: center;

            img {
                max-width: 100%;
                border-radius: 10px;
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: 50px;
            color: $main-color;
        }
    }
}

.info-box {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: $main-color;

    .delivery-area {
        width: 30%;
        height: 100%;
        @extend %flex;

        img {
            width: 160px;
        }

        div {
            width: 200px;
            height: 60px;
            background-color: white;
            border-radius: 10px;
            @extend %text-style;
            line-height: 60px;
            cursor: pointer;
            border: 2px solid white;

            &:hover {
                background-color: $main-color;
            }
        }
    }

    .delivery-time {
        width: 30%;
        height: 100%;
        @extend %flex;

        img {
            width: 120px;
        }

        p {
            width: 210px;
            @extend %text-style;
        }
    }

    .delivery-schedule {
        width: 30%;
        height: 100%;
        @extend %flex;

        img {
            width: 90px;
        }

        p {
            width: 240px;
            @extend %text-style;
        }
    }
}

.wrapper {
    width: 100%;
    margin-top: 50px;
    @extend %flex;
    flex-direction: column;

    .line {
        width: 300px;
        height: 10px;
        background-color: $main-color;
        border-radius: 10px;
    }

    p {
        width: 300px;
        font-size: 38px;
        font-weight: bolder;
        text-align: center;
    }

    .types-of-products {
        width: 90%;
        height: 80px;
        border-right: none;
        display: flex;
        margin-top: 50px;

        .name {
            width: 15%;
            height: 100%;
            border: 1px solid black;
            border-left: none;
            @extend %flex;
            color: rgb(68, 68, 68);
            cursor: pointer;

            &:first-child {
                border-top: 4px solid $main-color;
                border-bottom: none;
                color: black;
            }

            &:hover {
                color: black;
            }
        }
    }
}

.product-cards {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    .card {
        width: 22%;
        height: 480px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        margin: 20px 0px 0px 46px;
        padding: 65px 15px 0px 15px;
        position: relative;
        cursor: pointer;

        &:before {
            @extend %before-after;
            border-top: 3px solid $main-color;
            border-bottom: 3px solid $main-color;
            transform: scaleX(0);
        }

        &:after {
            @extend %before-after;
            border-left: 3px solid $main-color;
            border-right: 3px solid $main-color;
            transform: scaleY(0);
        }

        &:hover::before,
        &:hover::after {
            transform: scale(1);
        }

        img {
            width: 370px;
            height: 160px;
            z-index: 2;
        }

        .name {
            margin: 45px;
            font-size: 20px;
            z-index: 2;

            &:hover {
                color: $main-color;
            }
        }

        .info {
            width: 100%;
            display: flex;

            .ingredients {
                width: 80%;
                height: 50px;
                line-height: 24px;
            }

            .weight {
                width: 20%;
                height: 50px;
                line-height: 24px;
                text-align: right;
            }
        }

        .ordering {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .price {
                width: 25%;
                height: 100%;
                line-height: 50px;
            }

            .select-quantity {
                width: 33%;
                height: 100%;
                display: flex;
                border: 1px solid gray;
                border-radius: 8px;

                .plus {
                    width: 30%;
                    height: 100%;
                    font-size: 20px;
                    border-radius: 0px 8px 8px 0px;
                    cursor: pointer;
                    background-color: white;
                    z-index: 2;

                    &:hover {
                        background-color: $main-color;
                    }
                }

                .minus {
                    width: 30%;
                    height: 100%;
                    font-size: 20px;
                    border-radius: 8px 0px 0px 8px;
                    cursor: pointer;
                    background-color: white;
                    z-index: 2;

                    &:hover {
                        background-color: $main-color;
                    }
                }

                .count {
                    width: 40%;
                    height: 100%;
                    font-size: 20px;
                    @extend %flex;
                    text-align: center;
                }
            }

            .order {
                width: 25%;
                height: 100%;
                border-radius: 8px;
                border: 3px solid $main-color;
                background-color: $main-color;
                font-size: 13px;
                cursor: pointer;
                position: relative;
                z-index: 2;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}