<div class="container">
  <table>
    <thead>
    <tr>
      <th>№ замовлення</th>
      <th>Дата та час</th>
      <th>Адреса</th>
      <th>Сума</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
      <tr class="order-info">
        <td class="number">
          <b>№ 3151</b>
        </td>
        <td class="date">08.2022 18:47:25</td>
        <td class="address">Самовивіз</td>
        <td class="sum">
          <b>510</b> грн
        </td>
        <td class="status">
          <p>&#10003; виконано</p>
          <p class="btn">Повторити</p>
        </td>
      </tr>
      <tr class="order-product">
        <td class="empty"></td>
        <td>Запечені моно макі з лососем</td>
        <td>1</td>
      </tr>
      <tr class="order-product">
        <td class="empty"></td>
        <td>Запечений сет</td>
        <td>1</td>
      </tr>
      <tr class="order-info">
        <td class="number">
          <b>№ 4</b>
        </td>
        <td class="date">07.2022 18:22:02</td>
        <td class="address">Львів, вул. Франка, 61</td>
        <td class="sum">
          <b>510</b> грн
        </td>
        <td class="status">
          <p>&#10003; виконано</p>
          <p class="btn">Повторити</p>
        </td>
      </tr>
      <tr class="order-product">
        <td class="empty"></td>
        <td>Запечений сет</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
